[database]
path={{ email_maildir_path }}

[user]
name={{ active_user }}
primary_email=you@example.com

[new]
tags=unread;inbox;
ignore=/.*[.](json|lock|bak)$/

[search]
exclude_tags=spam;

[maildir]
synchronize_flags=true

[crypto]
gpg_path=gpg
