Sys.setenv(R_LIBS_USER = "{{ r_lang_library_path }}")
Sys.setenv(R_HISTFILE = "{{ repl_history_dir }}/Rhistory")

local({
  dir.create(Sys.getenv("R_LIBS_USER"), recursive = TRUE, showWarnings = FALSE)
  .libPaths(c(Sys.getenv("R_LIBS_USER"), .libPaths()))
})

options(width = 130)
options(useFancyQuotes = FALSE)
