options(radian.color_scheme = "native")
options(radian.editing_mode = "vi")
options(radian.show_vi_mode_prompt = TRUE)
options(radian.auto_match = TRUE)
options(radian.auto_width = TRUE)
options(radian.complete_while_typing = TRUE)
options(radian.completion_prefix_length = 2)
options(radian.completion_timeout = 0.05)
options(radian.insert_new_line = TRUE)
options(radian.history_size = 20000)

# TODO: Revisit whether a palette-derived custom prompt is worth generating
# from the shared theme once the rest of the R experience stabilizes.
