{
  "wallpaper": {{ appearance_theme_wallpaper | to_json }},
  "alpha": {{ appearance_theme_alpha | to_json }},
  "special": {
    "background": {{ appearance_theme_special.background | to_json }},
    "foreground": {{ appearance_theme_special.foreground | to_json }},
    "cursor": {{ appearance_theme_special.cursor | to_json }}
  },
  "colors": {
    "color0": {{ appearance_theme_colors.color0 | to_json }},
    "color1": {{ appearance_theme_colors.color1 | to_json }},
    "color2": {{ appearance_theme_colors.color2 | to_json }},
    "color3": {{ appearance_theme_colors.color3 | to_json }},
    "color4": {{ appearance_theme_colors.color4 | to_json }},
    "color5": {{ appearance_theme_colors.color5 | to_json }},
    "color6": {{ appearance_theme_colors.color6 | to_json }},
    "color7": {{ appearance_theme_colors.color7 | to_json }},
    "color8": {{ appearance_theme_colors.color8 | to_json }},
    "color9": {{ appearance_theme_colors.color9 | to_json }},
    "color10": {{ appearance_theme_colors.color10 | to_json }},
    "color11": {{ appearance_theme_colors.color11 | to_json }},
    "color12": {{ appearance_theme_colors.color12 | to_json }},
    "color13": {{ appearance_theme_colors.color13 | to_json }},
    "color14": {{ appearance_theme_colors.color14 | to_json }},
    "color15": {{ appearance_theme_colors.color15 | to_json }}
  }
}
