* {
    background:     {{ appearance_theme_special.background }};
    background-alt: {{ appearance_theme_colors.color0 }};
    foreground:     {{ appearance_theme_special.foreground }};
    selected:       {{ appearance_theme_colors.color4 }};
    active:         {{ appearance_theme_colors.color2 }};
    urgent:         {{ appearance_theme_colors.color1 }};
}
