env = BROWSER,browser

$browser = $BROWSER
{% if browser_base_private_arg %}
$privateBrowser = $BROWSER {{ browser_base_private_arg }}
{% else %}
$privateBrowser = firefox --private-window
{% endif %}

bind = $mainMod, b, exec, $browser
bind = $mainMod SHIFT, b, exec, $privateBrowser
